.ext-rewardnode
  position absolute
  top 50%
  transform translateY(-50%)
  display inline-block
  background #FFB9B2
  border-radius 50%
.ext-rewardnode--none
  left -58px
  width 20px
  height 20px
.ext-rewardnode--true
  width 32px
  height 32px
  background #EF4C3C
  left -64px