.rewardpoolbox-theme
  flexPst(center, center)
  padding 59px 0 0 0
  p
    font-size 36px
    font-family PingFang SC
    font-weight 600
    color #1A1A1A
    margin 0 19px
  img
    wh(72px, auto)
.rewardpoolbox-themetxt
  flexPst(center, center)
  font-size 28px
  font-family PingFang SC
  font-weight 400
  padding 20px 0 0 0
  color #999999
.rewardpoolbox-timeline
  position relative
  overflow hidden
  margin-top 58px
  padding 0 0 0 0
.rewardpoolbox-timeline-line
  position absolute
  left 69px
  width 4px
  height 100%
  background #FFB9B2
  margin-top 10px
.rewardpoolbox-timeline-top
  position relative
  display flex
  flex-direction column
  margin 0 60px 43px 118px
  padding 0 0 37px 0px
  p
    position relative
    font-size 28px
    font-family PingFang SC
    font-weight 400
    color #999999
  span
    font-size 28px
    font-family PingFang SC
    font-weight 400
    color #333333
    margin-top: 19px
.rewardpoolbox-timeline-top::after
  border-bottom 1px solid #E5E5E5
.rewardpoolbox-timeline-islastcontent
  padding-bottom 28px !important
.rewardpoolbox-timeline-content
  position relative
  display flex
  flex-direction column
  margin 0 60px 40px 120px
  font-size 28px
  padding 0px 0 40px 0
  p
    position relative
    font-size 28px
    font-family PingFang SC
    font-weight 500
    color #980A06
  span
    font-size 28px
    font-family PingFang SC
    font-weight 400
    color #333333
    i
      color #EF4C3C
  .btnbox
    flexPst(center, center)
    wh(100%)
    margin 20px 0 0 0
    .btn
      flexPst(center, center)
      width 350px
      height 100px
      font-size 36px
      font-weight 500
      color #FFFFFF
      background url('~@/assets/img/btn.png')
      background-size 100%
      background-repeat no-repeat
      padding 0 0 5px 0
      box-sizing border-box
.rewardpoolbox-timeline-content::after
  border-bottom 5px solid #e5e5e5
.rewardpoolbox-timeline-Reward
  position relative
  flexPst(space-between, center)
  padding 109px 0 0 0
  margin-right 20px
  p
    position absolute
    height 12px
    width 90%
    background #FFDCD9
    z-index 0
    span
      position absolute
      height 12px
      background #EF4C3C
      z-index 0
    .fillings
      padding-left: 12px
    .upup
      flexPst(center, center)
      position absolute
      width 104px
      height 44px
      background url('~@/assets/img/yet-pop.png')
      background-size 100%
      background-repeat no-repeat
      color #EF4C3C
      top -67px
      transform translateX(-38%) translateY(-100%)
      font-size 24px
      font-weight 400
      img
        position absolute
        left 50%
        bottom 0px
        transform translateX(-50%) translateY(80%)
        wh(16px, 10px)
  img
    position relative
    z-index 1
    wh(70px, 70px)
  // div {
  // span {
  // position: absolute
  // }
  // }
  .ext-little
    wh(32px, auto)
    margin-left -2px
.rewardpoolbox-timeline-Rewardtxt
  flexPst(space-between, center)
  font-size 24px
  font-family PingFang SC
  font-weight 400
  color #999999
  margin-right 20px
  padding 15px 0 35px 111px
  i
    flexPst(center, center)
    width 80px
    height 32px
.rewardpoolbox-timeline-Rewardbox .iscompleted
  flexPst(center, center)
  width 80px
  height 34px
  margin-left: -5px
  background linear-gradient(0deg, #FD2D04, #FDA303)
  border-radius 16px
  color #fff 
  font-size: 22px;
.rewardpoolbox-timeline-Rewardbox
  position relative
  text-align center
  img
    display block
  span
    position absolute
    display block
    width 70px
    margin-top 15px
    font-size 24px
    font-weight 400
    color #999999
.rewardpoolbox-timeline-tiptxt
  margin-top 74px
.rewardpoolbox-timeline-tiptxt--notoday
  margin-left (12 + 32)px