.boxtop
  position relative
  width 100%
  background-size 100%
  background-repeat no-repeat
  padding 0 0 89px 0
.titletxt
  position absolute
  left 50%
  top 137px
  transform translateX(-50%)
  font-weight 500
  color #FDE2C7
  font-size 30px
  flexPst(center, center)
  text-shadow 0px 2px 4px rgba(172, 17, 9, 0.5)
.adsorbentbtn
  position absolute
  right 1px
  padding 15px
  width 56px
  // height: 140px;
  background #FFD42D
  // transform: translateX(-50%)
  box-shadow 0px 0px 6px 0px rgba(163, 11, 0, 0.3)
  border-radius 8px 0px 0px 8px
  font-size 28px
  // writing-mode: tb-rl;
  font-weight 500
  color #9D1612
  box-sizing border-box
  flexPst(center, center)
.adsorbentbtn--rule
  top 16px
.adsorbentbtn--reward
  top 168px
.rewardpool
  padding 322px 30px 0 30px
.rewardpoolbox
  // background #ffffff
  wh(100%)
  border-radius 16px
.rewardpoolbox-title
  wh(100%)
  flexPst(space-between, center)
  padding 30px 30px 0 0
  box-sizing border-box
  img
    wh(120px, auto)
    margin-left -10px
  span
    margin-left 15px
    font-size 36px
    font-weight 500
    color #333333
  p
    flexPst(center, center)
    font-size 24px
    font-family PingFang SC
    font-weight 400
    color #404040
    img
      wh(12px, 19px)
      margin-left 8px
.rewardpoolbox-assetsnum
  flexPst(center, center)
  font-size 48px
  font-family PingFang SC
  font-weight 600
  color #EF4C3C
  padding-top 45px
  p
    flexPst(center, center)
    flex 1
    flex-direction column
  i
    font-size 30px
    font-weight 400
    color #999999
    margin-top: 20px
.rewardpoolbox-assetstxt
  margin-top 20px
  flexPst(center, center)
  font-size 30px
  font-family PingFang SC
  font-weight 400
  color #999999
  p
    flex 1
    flexPst(center, center)
.rewardpoolbox-line
  position relative
  wh(100%)
  padding-top 47px
  flexPst(space-between, center)
  div
    position: absolute
    z-index: 10
    display inline-block
    width 30px
    height 30px
    background #F81E0E
    border-radius 50%
  p
    position relative
    height 1px
    width 100%
    margin 0 30px
  p::after
    border-bottom 1px dashed #e5e5e5
.upop
  pst(absolute, 0px, 0px, 0px, 0px)
  margin auto
  z-index 99
  width 504px
  height 598px
  background #FFF9E8
  background url('~@/assets/img/on.png') no-repeat
  background-size 100% 100%
.upop-title
  wh(100%)
  flexPst(center, center)
  padding 58px 0 0 0
  font-size 36px
  font-family PingFang SC
  font-weight 600
  color #9D1612
.upop-content
  padding-top 37px
  wh(100%, 51px)
  flexPst(center, flex-end)
  font-size 32px
  font-family PingFang SC
  font-weight 600
  color #F94322
  .cost
    height 51px
    display inline-block
    font-weight 600
    color #F94322
    line-height 42px
    font-size 68px
  .numtype
    margin-left 9px
.upop-txt
  // flexPst(center, center)
  text-align center
  padding-top 52px
  font-size 24px
  font-family PingFang SC
  font-weight 400
  color #999999
  padding 50px 100px
  line-height 32px
.upop-btn
  position absolute
  flexPst(center, center)
  bottom 62px
  width 100%
  p
    width 260px
    height 88px
    font-size 36px
    flexPst(center, center)
    font-weight 600
    color #9D1612
    background #FFD42D
    border-radius 44px
.upop-mask
  pst(fixed, 0px, 0px, 0px, 0px)
  z-index 98
  background #000000
  opacity 0.7
.topmasp
  height 100vh
  overflow hidden
  padding 0px
.rewardpoolbox-countdown
  flexPst(center, center)
  font-size 24px
  font-family PingFang SC
  font-weight 400
  color #333333
  padding 43px 0 0 0
  i
    display inline-block
    margin 0 10px
    width 36px
    height 36px
    line-height 36px
    text-align center
    background #333333
    border-radius 4px
    font-size 26px
    font-family PingFang SC
    font-weight 400
    color #FFFFFF
.rewardpoolbox-Withdrawalbtn
  width 250px
  height 70px
  background linear-gradient(0deg, #FD2D04, #FDA303)
  border-radius 35px
  margin 57px auto 0 auto
  font-size 32px
  font-weight 500
  color #FFFFFF
  flexPst(center, center)
.upop-endcontent
  margin-top 38px
  flexPst(center, center)
  padding 0 50px
  div
    flexPst(center, center)
    flex-direction column
    flex 1
  p
    font-size 32px
    font-family PingFang SC
    font-weight 600
    color #F94322
    margin-bottom 17px
  span
    font-size 24px
    font-family PingFang SC
    font-weight 400
    color #333333
.upop-txt-endstage
  font-size 24px
  font-family PingFang SC
  font-weight 400
  color #999999
  text-align center
  padding 35px 60px 0 60px
  line-height 30px
.rewardpoolbox-Withdrawalbtn--got
  background linear-gradient(0deg, #B3B0B3, #D6D4D6)
  font-size 32px
  font-family PingFang SC
  font-weight 500
  color #FFFFFF
.rewardpoolbox-Withdrawaltime
  flexPst(center, center)
  padding 49px 0 0 0
  font-size 24px
  font-family PingFang SC
  font-weight 400
  color #333333