.secondPage
  width 100%
  box-sizing border-box
  background #fff
  border-radius 0 0 15px 15px
.rewardpoolbox-theme
  flexPst(center, center)
  padding 60px 0 0 0
  margin-top: -1px
  p
    font-size 36px
    font-weight 600
    color #1A1A1A
    margin 0 19px
  img
    wh(72px, auto)
.rewardpoolbox-themetxt
  flexPst(center, center)
  font-size 28px
  font-weight 400
  padding 20px 0 0 0
  color #999999
.rewardpoolbox-timeline-Reward
  position relative
  flexPst(space-between, center)
  padding 176px 0 0 0
  margin 0 61px 0 60px
  box-sizing border-box
  p
    position absolute
    height 12px
    width 95%
    background #FFDCD9
    z-index 0
    span
      position absolute
      height 12px
      background #EF4C3C
      z-index 0
  img
    position relative
    z-index 1
    wh(70px, 70px)
  .ext-little
    wh(32px, auto)
    margin-left -2px
.rewardpoolbox-timeline-Rewardbox .iscompleted
  flexPst(center, center)
  width 80px
  height 34px
  margin-left -5px
  background linear-gradient(0deg, #FD2D04, #FDA303)
  border-radius 16px
  color #fff
  font-size 22px
.rewardpoolbox-timeline-Rewardbox
  position relative
  text-align center
  flexPst(space-between, center)
  flex 1
  margin-left 60px
  div
    position relative
  img
    display block
  span
    position absolute
    display block
    width 70px
    margin-top 15px
    font-size 24px
    font-weight 400
    color #999999
.rewardpoolbox-timeline-tiptxt
  margin-top 74px
.rewardpoolbox-timeline-tiptxt--notoday
  margin-left (12 + 32)px
.rewardpoolbox-timeline-Rewardbox .upuptxt
  position absolute
  flexPst(center, center)
  // width 108px
  // height 87px
  font(#fff, 24px, 400)
  top -126px
  left -25px
  padding 15px 20px 21px 22px
  background-size 100% 100%
  background-repeat no-repeat
  line-height: 30px
  // box-sizing border-box
.bottomtxt
  text-align center
  padding 97px 62px 68px 111px
  font(#333, 28px, 400)
  line-height: 39px
.rewardpoolbox-timeline-Rewardbox span.upuptxt--next
  color #fff
  background-image url('~@/assets/img/no-pop.png')
  opacity 1
.rewardpoolbox-timeline-Rewardbox .upuptxt--none
  font-size 24px
  font-family PingFang SC
  font-weight 400
  color #EF4C3C
  opacity 0.4
.rewardpoolbox-timeline-Rewardbox .upuptxt--before
  font-size 24px
  font-family PingFang SC
  font-weight 400
  color #EF4C3C
  background-image url('~@/assets/img/yet-pop.png')
  opacity 1
.ext-Highlight{
  color: #F9180B 
  }